#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

@media (max-width: 600px) {
  #root {
    padding: 1rem;
  }
}

.title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
  letter-spacing: -2px;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.highlight-text {
  color: var(--highlight-color);
}